@media only screen and (min-width: 769px) {
  .review-card-container {
    margin-left: 70px;
    margin-right: 70px;
  }
  .pagination-info {
    display: none;
  }
  .review-card {
    min-height: 255px;
    height: 100%;
    background: #f9f9fb;
    padding: 20px;
    margin: 10px;
    border-radius: 4px;
    text-align: left;
    max-width: 366px;
  }
  .review-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .review-card-title {
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    line-height: 130%;
    text-transform: uppercase;
    color: #252c3e;
  }

  .rating-container {
    display: flex;
    align-items: center;
  }

  .average-rating {
    margin-right: 5px;
    margin-left: auto;
    margin-right: 12px;
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    color: #252c3e;
  }
  .review-text {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #252527;
    word-wrap: break-word;
  }
  .title-review {
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    margin-top: 12px;
    color: #252c3e;
  }
  .review-footer {
    padding-top: 27px;
    margin-right: 15px;
    margin-left: 32px;
    padding-bottom: 21px;
  }
  .review-place {
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    color: #252c3e;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    opacity: 0.6;
    max-width: 200px;
  }
  .star.filled-star {
    color: #da4b07;
    font-size: 24px;
  }

  .star {
    color: #ccc;
    font-size: 24px;
  }
  .read-more-button {
    font-family: Open Sans Semibold, sans-serif;
    background: none;
    border: none;
    cursor: pointer;
    color: #252c3e;
    font-weight: bold;
    margin-top: 5px;
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .review-card-container {
    margin-top: 40px;
    padding-right: 13px;
    padding-left: 13px;
  }
  .review-card {
    width: 100%;
    min-height: 270px;
    height: 100%;
    background: #f9f9fb;
    padding-left: 10px;
    padding-right: 10px;
  }
  .review-card-header {
  }
  .review-card-title {
    font-family: Open Sans Bold, sans-serif;
    font-style: normal;
    text-transform: uppercase;
    color: #252c3e;
    margin-top: 0px !important;
  }

  .rating-container {
    order: 2;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin-left: 10px;
  }

  .average-rating {
    order: 1;
    font-family: Open Sans Bold, sans-serif;
    color: #252c3e;
    margin-left: 12px;
    font-size: 22px;
  }
  .review-text {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #252527;
    word-wrap: break-word;
  }
  .title-review {
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    margin-top: 12px;
    color: #252c3e;
  }
  .reviews-date-published {
    font-family: Open Sans Semibold, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #252c3e;
    opacity: 0.9;
    margin-top: 10px;
  }
  .review-footer {
    padding-top: 27px;
    padding-bottom: 16px;
    margin-right: 16px;
    padding-left: 16px;
  }
  .review-place {
    font-style: normal;
    color: #252c3e;
    font-family: Open Sans, sans-serif;
    opacity: 0.6;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }
  .star.filled-star {
    color: #da4b07;
    font-size: 24px;
  }

  .star {
    color: #ccc;
    font-size: 24px;
  }
  .read-more-button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: Open Sans Semibold, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    color: #252c3e;
  }
  .pagination-info {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    font-family: Open Sans Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #dbdbdb;
  }
  .current-slide {
    color: #da4b07;
  }
  .total-slides {
    opacity: 0.9;
  }
}
