@media only screen and (min-width: 769px) {
  .buy-card-header {
    height: 96px;
    flex-shrink: 0;
    background: var(--blue, #252c3e);
    color: #fff;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }
  .buy-card-h3 {
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    margin-bottom: 0px;
  }
  .buy-card-subtitle {
    margin-top: 0px;
  }
  .buy-card-title {
    margin-left: 70px;
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    line-height: 130%;
    text-transform: uppercase;
    color: #252c3e;
  }
  .slider-card-container {
    overflow: hidden;
    margin-left: 100px;
    margin-right: 70px;
  }
  .buy-card-container {
    width: 355px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .product-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: var(--gray, #f9f9fb);
  }
  .buy-card-footer {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    background: #da4b07;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
  }
  .buy-card-footer-text {
    font-family: Open Sans Semibold, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: #fff;
  }
  .name-label {
    font-family: Open Sans Semibold, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #252c3e;
    word-wrap: break-word;
    min-width: 64px;
    width: 64px;
    text-align: left;
  }
  .product-content {
    width: 100%;
  }

  .price-wrapped {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: auto;
    margin-top: 19px;
    margin-right: 62px;
    margin-bottom: 18px;
  }

  .price-itself {
    margin-bottom: 0px;
    margin-top: 0px;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    color: #252c3e;
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
  }
  .price-text {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    margin-right: 5px;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    color: #252c3e;
    padding-left: 100px;
    padding-top: 22px;
  }

  .product-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2px;
  }

  .count-label {
    font-family: Open Sans Bold, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    color: #252c3e;
  }
  .counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 48px;
    width: 64px;
  }

  .product-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 15px;
  }

  .increment-button,
  .decrement-button {
    position: relative;
    width: 48px;
    height: 48px;
    background: #fff;
    cursor: pointer;
    border: none;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
  }
  .increment-button::before {
    content: '+';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .decrement-button::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 24px;
    background: #000;
    top: 50%;
    transform: translateY(-50%);
  }

  .increment-button {
    border-radius: 4px 0 0 4px;
  }
  .decrement-button {
    border-radius: 0 4px 4px 0;
  }

  .price-summary {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 5px;
    justify-content: center;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    color: #252c3e;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
  }
  .price-label {
    font-family: Open Sans Bold, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #252c3e;
    width: 55px;
  }

  .name-label,
  .price-label {
    align-self: center;
  }

  .slick-next:before {
    color: #dbdbdb !important;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: -80px;
    margin-left: 5px;
    padding-right: -10px;
  }
  .slick-prev:before {
    padding-left: 10px;
  }

  .card-tips {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    height: auto;
    margin-left: 70px;
  }

  .text-tips {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #252527;
    margin-bottom: 11px;
    padding-left: 10px;
  }
  .card-list ::marker {
    color: #da4b07;
    font-size: 15px;
  }

  .third-card-tip {
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #252527;
    margin-bottom: 10px;
  }
  .card-list {
    padding-left: 0px;
    width: 354px;
  }
}

@media only screen and (max-width: 768px) {
  .buy-card-header {
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 89px;
    background: #252c3e;
    border-radius: 10px 10px 0 0;
  }
  .buy-card-subtitle {
    font-family: Open Sans Semibold, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    margin-top: 4px;
  }

  .buy-card-h3 {
    font-family: Open Sans Bold, sans-serif;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0px !important;
    margin-top: 19px;
  }

  .buy-card-title {
    font-size: 16px;
    margin-left: 20px;
  }

  .slider-card-container {
    margin-left: 20px;
    margin-right: 20px;
  }

  .buy-card-container {
    width: 100% !important;
    align-items: flex-start;
  }

  .product-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: var(--gray, #f9f9fb);
  }

  .buy-card-footer {
    height: 60px;
    background: #da4b07;
    border-radius: 0 0 10px 10px;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
  }

  .buy-card-footer-text {
    font-family: Open Sans Semibold, sans-serif;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: #fff;
  }

  .name-label {
    text-align: left;
    margin-left: 25px;
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
  }

  .product-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-right: 15px;
  }
  .price-wrapped {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: auto;
    margin-left: auto;
    margin-right: 28px;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .price-text {
    padding-left: 0;
    padding-top: 10px;
  }

  .product-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2px;
  }
  .price-label {
    font-family: Open Sans Semibold, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #252527;
  }

  .increment-button,
  .decrement-button {
    position: relative;
    width: 48px;
    height: 48px;
    background: #fff;
    cursor: pointer;
    border: none;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
  }

  .increment-button::before {
    content: '+';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .increment-button {
    border-radius: 4px 0 0 4px;
    color: black;
  }
  .decrement-button {
    border-radius: 0 4px 4px 0;
  }

  .decrement-button::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 24px;
    background: #000;
    top: 50%;
    transform: translateY(-50%);
  }

  .price-summary {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #252c3e;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .price-itself {
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    margin-left: 5px;
    vertical-align: bottom;
    color: #252527;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .count-label {
    font-family: Open Sans Bold, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    color: #252c3e;
  }

  .counter-container {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 48px;
  }

  .slick-next:before,
  .slick-prev:before {
    margin-right: 0;
    padding-right: 0;
  }

  .card-tips {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 20px;
  }

  .text-tips {
    font-size: 12px;
    padding-left: 0;
  }

  .third-card-tip {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .product-content {
    width: 100%;
  }

  .card-list {
    width: 100% !important;
    padding-left: 20px;
  }
  .slick-dots {
    position: initial;
  }

  .slick-dots li.slick-active button:before {
    font-size: 10px;
    color: #da4b07;
    opacity: 1;
    border-radius: 50%;
    border: none;
  }
  .slick-dots li button:before {
    font-size: 10px;
    border-radius: 50%;
    border: none;
    color: #252c3e;
    opacity: 0.1;
    margin-right: 8px;
    cursor: pointer;
  }
  .slick-dots li {
    margin: 0px !important;
  }
}
