.btn {
  background: var(--orange, #da4b07);
  display: flex;
  height: 35px;
  justify-content: center;
  align-items: center;
  min-width: 75px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  border: 5px;
  margin-top: 3px;
  margin-bottom: 5px;
  font-family: Open Sans Semibold, sans-serif;
  padding: 0 20px !important;
  font-size: 15px;
}
