.language-selector {
  /* padding-left: 8px;
  padding-right: 10px; */
  border-radius: 5px;
  /* background: var(--blue, #252c3e); */
  display: flex;
  /* width: 105px;
  height: 35px; */
  justify-content: center;
  align-items: center;
  /* min-width: 75px; */
  cursor: pointer;
  border-radius: 5px;
  color: white;
  /* margin-top: 3px;
  margin-bottom: 5px; */
}

.language-select {
  padding: 0 5px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 75px;
  margin-top: 3px;
  margin-bottom: 5px;
  margin-left: 10px;
  width: 105px;
  height: 35px;
  padding-left: 1px;
  padding-right: 1px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #252c3e;
  cursor: pointer;
  outline: none;
  color: #fff;
  font-family: Open Sans Bold, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 35px;
}
.lang {
  text-transform: lowercase;
}
