@media only screen and (min-width: 769px) {
  .navigation {
    width: 100%;
    height: 43px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 0px;
    position: fixed;
    z-index: 120;
    background: rgba(37, 44, 62, 0.6);
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
  }
  .burger-icon {
    display: none;
  }
  .centre-nav,
  .right-nav {
    display: block;
  }
  .navbar-hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .navbar-visible {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
  }

  .left-nav {
    padding-left: 56px;
    text-decoration: none !important;
    display: flex;
    align-items: center;
  }

  .logo-title {
    font-family: Marselis Pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    margin-right: auto;
    margin-top: 6px;
    margin-bottom: 7px;
  }
  .centre-nav {
    white-space: nowrap;
    margin-left: 50px;
    margin-right: 70px;
    display: flex;
    padding: 0;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 130%;
    text-decoration: none;
    color: #fff;
  }

  .centre-nav li {
    list-style-type: none;
    margin-right: 30px;
    white-space: nowrap;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
  }

  .centre-nav li:last-child {
    margin-right: 0;
  }
  .centre-nav li a {
    text-decoration: none;
    display: block;
    width: 100%;
    color: white;
  }
  .header-buy-btn {
    padding-top: 5px;
  }
  .right-nav {
    display: flex;
    padding-left: 0px;
  }
  .burger-menu {
    display: none;
  }
  #react-burger-menu-btn {
    width: 0px !important;
    height: 0px !important;
  }
}

.mobile-menu-button {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .bm-menu-wrap {
    top: 42px;
    position: fixed !important;
    width: 100%;
    right: auto !important;
    z-index: 1;
    -webkit-transition: height 0.3s ease-in-out, padding 0.3s ease-in-out !important;
    transition: height 0.3s ease-in-out, padding 0.3s ease-in-out !important;
  }

  .bm-overlay {
    height: 0px !important;
    width: 0px !important;
    -webkit-transition: height 0.3s ease-in-out, padding 0.3s ease-in-out;
    transition: height 0.3s ease-in-out, padding 0.3s ease-in-out;
  }

  .bm-menu {
    position: fixed;
    width: 100%;
    height: 375px !important;
    background: #727580;
    font-size: 1.15em;
    transition: height 0.3s ease;
  }
  .bm-menu.bm-menu-open {
    height: 0px !important;
    padding: 2.5em 1.5em 0;
  }

  .bm-item-list {
    padding-top: 35px;
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    width: 100%;
    margin: 0 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #react-burger-menu-btn {
    width: 50px !important;
    height: 90px !important;
    z-index: 1 !important;
  }
  .menu-item {
    text-decoration: none;
    color: #fff;
    margin-top: 11px;
    margin-bottom: 14px;
    margin-right: 30px;
  }

  .mobile-menu-container {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    background: rgba(37, 44, 62, 0.6);
    text-decoration: none !important;
    padding-right: 8px;
    padding-left: 8px;
    height: 56px;
  }

  .mobile-menu-icon {
    margin-right: 10px;
    color: #da4b07;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .logo-title {
    display: none;
  }
  .bm-burger-bars {
    display: none;
  }
  .logo-title-mob {
    font-family: Marselis Pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    color: #fff;
    cursor: pointer;
    margin-right: auto;
    margin-top: 6px;
    margin-bottom: 7px;
  }
  .left-nav {
    text-decoration: none !important;
  }
  .header-buy-btn {
    margin-left: auto;
  }
  .mobile-menu-icon.open .bar:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }

  .mobile-menu-icon.open .bar:nth-child(2) {
    opacity: 0;
  }

  .mobile-menu-icon.open .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  .mobile-menu-icon .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 4px auto;
    background-color: #da4b07;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
}
