@media only screen and (min-width: 769px) {
  .benefits-container {
    display: flex;
    align-items: flex-start;
    padding-left: 70px;
    margin-top: 35px;
  }

  .benefits-section-title {
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    line-height: 130%;
    text-transform: uppercase;
    color: #252c3e;
    margin-top: 0px !important;
    margin-bottom: 30px;
  }

  .left-side {
    width: 656px !important;
  }

  .right-side {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .collapse-item {
    margin-bottom: 2px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .collapse-header {
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #252c3e;
    height: 90px;
  }

  .collapse-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: var(--white, #fff);
  }
  .benefits-title {
    margin-left: 20px;
    font-family: Open Sans Semibold, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    color: #fff;
  }

  .collapse-content {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #252527;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
  }
  .phone {
    padding-left: 67px;
    padding-top: 111px;
    z-index: 0;
  }

  .phone,
  .coolpass-card {
    flex: 1;
  }

  .phone img {
    height: 390px;
    width: 209px;
  }

  .coolpass-card img {
    width: 293px;
    height: auto;
    margin-top: 247px;
    margin-left: -105px;
  }
  .coolpass-card {
    top: 40px;
    right: 0;
  }
  .collapse-content p {
    margin-bottom: 0px !important;
    margin-top: 15px !important;
  }
}

@media only screen and (max-width: 768px) {
  .benefits-container {
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 20px;
  }

  .benefits-section-title {
    font-size: 18px;
    line-height: 120%;
    margin-top: 10px !important;
    margin-bottom: 20px;
  }

  .left-side {
    width: 100% !important;
  }

  .right-side {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .collapse-item {
    margin-bottom: 2px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .collapse-header {
    background: #252c3e;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .collapse-title {
    font-size: 16px;
    margin: 0;
  }

  .benefits-title {
    display: inline;
    margin-top: 0px !important;
    margin-bottom: 00px !important;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: Open Sans Semibold, sans-serif;
    font-weight: 600;
  }

  .collapse-content {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #252527;
  }

  .phone {
    padding-left: 40px;
    padding-top: 20px;
    z-index: 0;
  }

  .phone img {
    height: 246px;
    width: 118.5px;
  }

  .coolpass-card img {
    width: 172px;
    height: 109px;
    margin-top: 150px;
    margin-left: -95px;
  }

  .coolpass-card {
    top: 20px;
    right: 0;
  }
  .phone,
  .coolpass-card {
    flex: 1;
  }

  .collapse-content p {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }
}
