@media only screen and (min-width: 769px) {
  .search-container {
    display: flex;
    align-items: baseline;
  }
  .carousel .thumbs-wrapper {
    display: none;
  }
  .carousel .carousel-status {
    display: none;
  }

  .carousel .slide img {
    height: 550px;
    object-fit: cover;
    object-position: 49%;
  }
  .carousel .control-dots .dot.selected {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    background: #da4b07;
  }
  .carousel .control-dots .dot {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    background: white;
    margin-left: 0px !important;
    opacity: 0.8 !important;
  }

  .underslider {
    width: 100%;
    height: 50px;
    background: #da4b07;
    color: #fff;
    display: inline-flex;
    align-items: center;
  }

  .underslider-text {
    padding-left: 70px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 130%;
  }
  .header-title {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .header-subtitle {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 130%;
    color: #fff;
    text-transform: none;
    margin-top: 8px;
    margin-left: 3px;
  }
  .image-text {
    position: absolute;
    top: 235px;
    left: 90px;
    color: #fff;
    padding: 5px;
    font-size: 14px;
  }

  .text-container {
    margin-top: 35px;
    position: absolute;
    top: 235px;
    left: 90px;
    right: 0;
    text-align: left;
    color: #fff;
    padding: 9px 0 0 0;
  }
}

@media only screen and (max-width: 768px) {
  .search-container {
    padding-left: 8px;
    padding-right: 8px;
  }
  .carousel .slide img {
    height: auto;
    max-width: 100%;
  }

  .carousel .control-dots .dot.selected {
    width: 10px;
    height: 10px;
    margin-left: 5px !important;
    background: #da4b07;
  }

  .carousel .control-dots .dot {
    background: white;
    width: 10px;
    height: 10px;
    margin-left: 5px !important;
  }

  .underslider {
    height: auto;
    background: #da4b07;
    color: white;
    text-align: left;
  }

  .underslider-text {
    margin-top: 0px;
    margin-left: 8px;
    margin-bottom: 0px;
    padding: 8px 0 !important;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 130%;
  }

  .header-title {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
  }

  .header-subtitle {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #fff;
    text-transform: none;
    margin-top: 8px;
    margin-left: 3px;
  }

  .image-text {
    top: auto;
    left: 0;
    right: 0;
    position: relative;
    margin-top: 10px;
    padding: 5px;
    font-size: 12px;
  }

  .text-container {
    color: white;
    top: 55px;
    left: 0;
    right: 0;
    position: absolute;
    margin-top: 10px;
    padding: 9px 0;
    font-size: 12px;
    padding-right: 8px;
    padding-left: 8px;
  }

  .image-container {
    min-height: 244px;
    height: 244px;
  }

  .control-prev {
    z-index: 0 !important;
  }
}
