@media only screen and (min-width: 769px) {
  .footer {
    background-color: #333;
    color: #fff;
    padding-left: 70px;
    padding-right: 70px;
    background: var(--blue, #252c3e);
    margin-top: 130px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding-left: 0px;
  }

  .footer-links a {
    margin-bottom: 10px;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    margin-bottom: 10px;
    display: block;
  }

  .footer-content {
    display: flex;
    padding-top: 42px;
  }

  .frst-footer-section {
    margin-right: 27px;
  }
  .download-links {
    margin-left: 67px;
  }

  .about-us-footer-section {
    margin-left: 44px;
  }
  .news-and-updates {
    margin-left: 76px;
  }
  .news-and-updates form {
    display: flex;
    align-items: center;
  }

  .sub-input-form {
    width: 150px;
    height: 48px;
    background: #fff;
    border-radius: 5px;
    border: none;
    text-indent: 23.75px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    padding: 0 106px 0 0;
  }

  .sub-btn {
    background: #da4b07;
    border: 2px solid #da4b07;
    border-radius: 0 5px 5px 0;
    min-width: 106px;
    width: auto;
    height: 48px;
    margin-left: -4px;
    padding: 0 15px;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: Open Sans Semibold, sans-serif;
    font-size: 15px;
    line-height: 130%;
    color: #fff;
  }

  .sub-faq {
    font-family: Open Sans Semibold, sans-serif !important;
    line-height: 48px !important;
    font-size: 15px !important;
    height: 48px;
    background: #da4b07;
    border: 1px solid #da4b07;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 12px !important;
    width: auto;
  }

  .footer-info-year {
    color: #fff;
    font-family: Open Sans Bold, sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-top: 14px;
    margin-bottom: 5px;
  }
  .rights-reserved-block {
    height: 32px;
    margin-top: 51px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #f9f9fb;
  }
  .download-btn {
    text-transform: uppercase;
    margin-bottom: 12px;
  }
  .news-and-updates-title {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    margin-bottom: 17px;
  }
  .download-app-title {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    margin-bottom: 12px;
  }

  .download-images {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .appstore-image,
  .googleplay-image {
    margin-bottom: 10.67px;
    width: 157.13px;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    background-color: #333;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    background: var(--blue, #252c3e);
    margin-top: 30px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding-left: 0px;
  }

  .footer-links a {
    margin-bottom: 10px;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    margin-bottom: 10px;
    display: block;
  }

  .footer-content {
    padding-top: 20px;
  }

  .frst-footer-section {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .download-links {
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .about-us-footer-section,
  .news-and-updates {
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .news-and-updates form {
    display: flex;
    flex-direction: column;
  }

  .sub-input-form {
    width: 100%;
    max-width: none;
    margin-bottom: 10px;
  }

  .sub-btn {
    border-radius: 5px;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .sub-faq {
    width: 100%;
    margin-bottom: 10px;
  }

  .footer-info-year {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .rights-reserved-block {
    margin-top: 20px;
  }

  .download-btn {
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .news-and-updates-title {
    margin-bottom: 10px;
  }
  .download-app-title {
    margin-bottom: 10px;
  }

  .download-images {
    display: flex;
    flex-direction: column;
  }

  .appstore-image,
  .googleplay-image {
    margin-bottom: 10px;
    width: 157.13px;
  }
}
