@media only screen and (min-width: 769px) {
  .usage-section-title {
    margin-top: 50px !important;
    margin-bottom: 0px;
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    line-height: 130%;
    text-transform: uppercase;
    color: #252c3e;
  }

  .usage-section {
    margin-right: 70px;
    margin-left: 70px;
  }
  .usage-container {
    display: grid;
    margin-top: 30px;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }

  .usage-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .usage-card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .usage-image {
    flex-shrink: 0;
  }

  /* .usage-card p {
    flex-grow: 1;
    margin: 0;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #252c3e;
  } */

  .order-num {
    margin-top: 14px;
    margin-bottom: 7px;
  }
  .num-step {
    margin-top: 14px;
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #252c3e;
  }

  .step-hint {
    margin-top: 7px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #252c3e;
  }
}

@media only screen and (max-width: 768px) {
  .usage-section-title {
    margin-top: 50px !important;
    font-size: 18px;
  }

  .usage-section {
    margin-right: 8px;
    margin-left: 8px;
  }

  .usage-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }

  .usage-card {
    margin-bottom: 40px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .usage-card img {
    max-width: 100%;
    height: auto;
  }

  .usage-card p {
    /* font-size: 14px;
    line-height: 20px;
    margin-top: 7px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    color: #252c3e; */
  }

  .order-num {
    margin-bottom: 5px;
    margin-top: 14px;
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700 !important;
    font-style: normal;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #252c3e;
  }
  .num-step {
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700 !important;
    font-style: normal;
    font-size: 22px;
    line-height: 29px;
  }

  .step-hint {
    width: 288px;
    margin-top: 7px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #252c3e;
  }
}
