@media only screen and (min-width: 769px) {
  .container-offer {
    padding-left: 70px;
    padding-right: 70px;
  }
  .container-offer h3 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    line-height: 130%;
    text-transform: uppercase;
    color: #252c3e;
  }
  .content {
    display: grid;
    justify-items: center;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  .a-card {
    width: 100%;
    height: 300px;
    background-position: center center;
    cursor: pointer;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    position: relative;
    overflow: hidden;
    justify-items: center;
  }

  .offer-btn {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 476px;
    height: 71px;
    text-align: center;
    background: rgba(218, 75, 7, 0.7);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    transition: bottom 0.3s;
    margin-bottom: 20px;
  }
  .a-card:hover .offer-btn {
    opacity: 0;
  }
  .offer-txt {
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
  }

  .offer-title {
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    transition: opacity 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .offer-details {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgba(37, 44, 62, 0.85);
    color: white;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    position: absolute;
  }

  .a-card:hover .offer-title {
    opacity: 0;
  }

  .a-card:hover .offer-details,
  .a-card:active .offer-details {
    opacity: 2;
  }
  .pop-up-text {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #fff;
    margin-top: 15px;
    margin-right: 35px;
    margin-left: 35px;
  }
  .pop-up-title {
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0px;
    margin-top: 30px;
    text-align: center;
  }

  .see-offer-btn {
    min-width: 126px;
    margin-bottom: 30px;
    font-family: Open Sans Semibold, sans-serif;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    border: 1px solid #da4b07;
    line-height: 35px;
    font-weight: 700;
    font-size: 15px;
    background: #da4b07;
    box-sizing: border-box;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .top-offer-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 768px) {
  .container-offer {
    gap: 20px;
  }
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .container-offer h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 120%;
    margin-left: 8px;
  }

  .a-card {
    width: 100%;
    height: 300px;
    position: relative;
  }

  .offer-btn {
    display: grid;
    padding: 0 15px;
    position: absolute;
    bottom: 20px;
    width: 260px;
    height: 59px;
    align-content: center;
    justify-items: center;
    background: rgba(218, 75, 7, 0.7);
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .offer-txt {
    font-size: 16px;
  }

  .offer-title {
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
  }

  .offer-details {
    background-color: rgba(37, 44, 62, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .a-card:active .offer-details {
    opacity: 1;
  }
  .card-content {
    height: 100%;
  }
  .wrapped-offer-text {
    padding-left: 22px;
    padding-right: 22px;
  }
  .pop-up-text {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .pop-up-text .p {
    margin-top: 0px !important;
  }
  .pop-up-title {
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 33px;
    margin-bottom: 0px !important;
  }

  .see-offer-btn {
    min-width: 126px;
    margin-top: auto;
    width: auto;
    height: 40px;
    margin-bottom: 20px;
    font-family: Open Sans Semibold, sans-serif;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    border: 1px solid #da4b07;
    line-height: 35px;
    font-size: 15px;
    background: #da4b07;
    box-sizing: border-box;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 20px;
  }

  .a-card:active .offer-btn {
    opacity: 0;
  }
  .top-offer-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
