@media only screen and (min-width: 769px) {
  .search-button {
    margin-left: 21px;
    min-width: 70px;
    width: auto;
    padding: 0 20px;
    height: 37px;
    cursor: pointer;
    color: #fff;
    line-height: 35px;
    font-family: Open Sans Semibold, sans-serif;
    font-weight: 600;
    font-size: 15px;
    background: #da4b07;
    border: 1px solid #da4b07;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 768px) {
  .search-button {
    margin-top: 12px;
    width: 100%;
    height: 37px;
    cursor: pointer;
    color: #fff;
    line-height: 35px;
    font-family: Open Sans Semibold, sans-serif;
    font-weight: 600;
    font-size: 15px;
    background: #da4b07;
    border: 1px solid #da4b07;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
  }
}
