@media only screen and (min-width: 769px) {
  .dAZYal {
    width: 270px !important;
    height: 37px !important;
    margin-top: 24px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;
    padding-left: 13px !important;
    margin-left: 5px !important;
  }
  .iiTrXQ {
    width: 270px !important;
    height: 37px !important;
    margin-top: 24px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;
    padding-left: 13px !important;
    margin-left: 5px !important;
  }

  input:not(:placeholder-shown) {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }

  .bncmtB > ul > li {
    border: none !important;
    border-top: 0px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #252527;
    padding: 3px 15px 8px;
    position: relative;
  }
  .bncmtB {
    width: 270px !important;
    max-height: 220px !important;
    margin-top: 0px !important;
    margin-left: 5px !important;
    overflow-y: scroll;
    border-top-left-radius: 0px !important;
  }

  .bncmtB > ul > li {
    color: black !important;
  }

  .error-message {
    color: black;
  }
  .search-input-container {
    display: flex;
    align-items: center;
  }

  .bjMFWr > ul > li {
    border-top: 0px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
  }
  .bjMFWr {
    width: 270px !important;
    margin-top: 0px !important;
    margin-left: 5px !important;
    overflow-y: scroll;
  }

  .bjMFWr > ul > li {
    color: black !important;
  }
}

@media only screen and (max-width: 768px) {
  .jifbFL {
    margin-top: 20px;
  }

  .goQXJL {
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .dAZYal:focus {
    border-color: #ffc513;
  }
  .iiTrXQ:focus {
    border-color: #ffc513;
  }

  input:not(:placeholder-shown) {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }

  .ms-editor-squiggles-container {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
  .bncmtB {
    margin-top: 0px !important;
    border-bottom-left-radius: 0px !important;
    height: 220px !important;
    overflow-y: scroll;
  }

  .bncmtB > ul > li {
    border-top: 0px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
  }

  .bjMFWr {
    margin-top: 0px !important;
    height: 220px !important;
    overflow-y: scroll;
  }

  .bjMFWr > ul > li {
    border-top: 0px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
  }
}
