@media only screen and (min-width: 769px) {
  .top-attractions-container {
    margin-top: 40px;
    margin-left: 70px;
    margin-right: 70px;
  }

  .top-attractions-title {
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    line-height: 130%;
    text-transform: uppercase;
    color: #252c3e;
    margin-bottom: 40px;
  }
  .carousel-container {
    position: relative;
  }
  .slick-prev {
    left: -40px !important;
  }
  .slick-prev:before,
  .slick-next:before {
    color: #dbdbdb !important;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
  .slick-next {
    right: 20px !important;
  }

  .card {
    width: 270px !important;
    height: 204px !important;
    flex-shrink: 0;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }

  .card .benefit text {
    top: 10px;
    right: 15px;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 14px;
  }
  .benefit {
    position: absolute;
    right: 0;
    margin-top: 10px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 23px;
    background: #fdca2e;
    border-radius: 5px 0 0 5px;
  }

  .footer-top-attractions {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgba(37, 44, 62, 0.6);
    transition: opacity 0.2s, height 0.4s;
    z-index: 1;
  }
  .card:hover .footer-top-attractions {
    opacity: 1;
    height: 120px;
  }

  .card p {
    position: absolute;
    bottom: 30px;
    left: 10px;
    right: 10px;
    margin: 0;
    color: white;
    font-size: 18px;
    z-index: 2;
    transition: bottom 0.3s;
    opacity: 0;
    max-height: 50px;
    overflow: hidden;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;
  }

  .card h4 {
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18.2px;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    padding: 5px;
    color: white;
    font-size: 14px;
    z-index: 2;
    transition: bottom 0.3s;
    /* max-height: 15px; */
    overflow: hidden;
  }
  .card:hover h4 {
    bottom: 60px;
  }
  .card:hover p {
    opacity: 1;
    width: 211px;
    height: 48px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
  }

  .top-attractions-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slick-prev:before {
    font-size: 30px !important;
    margin-right: 20px;
    content: ' ' !important;
    padding-left: 20px !important;
    background-image: url('../assets/arrow\ l.svg');
    background-repeat: no-repeat;
  }
  .slick-next:before {
    font-size: 30px !important;
    margin-left: 65px;
    content: ' ' !important;
    padding-right: 20px !important;
    background-image: url('../assets/arrow\ r.svg');
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 768px) {
  .top-attractions-container {
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .top-attractions-title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .slick-prev {
    left: -20px !important;
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 20px !important;
    margin-right: 10px;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .slick-next {
    right: 20px !important;
  }

  .card {
    width: calc(100% - 10px) !important;
    height: auto !important;
    border-radius: 0;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }

  .benefit text {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;

    color: #252c3e;
  }

  .benefit {
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 12px;
    width: auto;
    height: 23px;
    padding-left: 15px;
    padding-right: 15px;
    background: #fdca2e;
    border-radius: 5px 0 0 5px;
  }

  .card .footer-top-attractions {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgba(37, 44, 62, 0.6);
    transition: opacity 0.2s, height 0.4s;
    z-index: 1;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    padding-left: 20px;
  }

  .card:active .footer-top-attractions {
    opacity: 1;
    height: 100px;
  }

  .card p {
    bottom: 10px;
    font-size: 14px;
    opacity: 0;
    transition: bottom 0.3s, opacity 0.3s;
    max-height: none;
    overflow: hidden;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;
    color: white;
    position: absolute;
  }

  .card h4 {
    bottom: 0;
    transition: bottom 0.3s, opacity 0.3s;
    position: absolute;
    text-align: center;
    font-family: Open Sans Semibold, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 130%;
    text-transform: uppercase;
    color: #fff;
  }

  .top-attractions-pic {
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
  .card:active h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    bottom: 50px;
    font-family: Open Sans Semibold, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 130%;
    text-transform: uppercase;
    color: #fff;
  }

  .card:active p {
    margin-top: 0px;
    padding-bottom: 10px;
    opacity: 1;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
  }
}
