@media only screen and (min-width: 769px) {
  .news-section {
    /* display: flex;
  flex-direction: column; */
    margin-left: 70px;
    margin-right: 70px;
  }
  .news-content-container {
    display: flex;
    flex-direction: column;
  }
  .news-item {
    column-gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 65px;
  }

  .news-item:nth-child(odd) .image {
    order: 2;
  }

  .news-item:nth-child(even) .text {
    order: 1;
  }

  .image,
  .text {
    flex: 1;
  }
  .image {
    position: relative;
  }

  .image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .date-published {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 4px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
  .news-section-title {
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    line-height: 130%;
    text-transform: uppercase;
    color: #252c3e;
  }
  .news-title {
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    color: #252c3e;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .news-text {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #252c3e;
  }
  .read-more-news {
    text-decoration: underline;
    text-transform: capitalize;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #da4b07;
  }
}

@media only screen and (max-width: 768px) {
  .news-section {
  }

  .news-content-container {
    flex-direction: column;
  }

  .news-item {
    margin-bottom: 30px;
  }

  .news-item:nth-child(odd) .image,
  .news-item:nth-child(even) .text {
    order: 1;
  }

  .image,
  .text {
    flex: 1;
  }
  .image {
    position: relative;
  }

  .image img {
    max-width: 100%;
    height: auto;
  }

  .date-published {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(37, 44, 62, 0.6);
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 4px;
    border-top-left-radius: 10px;
  }

  .news-section-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .news-title {
    font-family: Open Sans Bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    color: #252c3e;
    margin-top: 22px;
    margin-bottom: 0;
  }

  .news-text {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #252c3e;
  }

  .read-more-news {
    text-decoration: underline;
    text-transform: capitalize;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #da4b07;
  }
  .text {
    padding-left: 8px;
    padding-right: 8px;
    min-height: auto;
  }
}
