@font-face {
  font-family: 'Open Sans Medium';
  src: url('./fonts/OpenSans/OpenSans-Medium.ttf');
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('./fonts/OpenSans/OpenSans-Bold.4a72f904.woff2') format('woff2');
}
@font-face {
  font-family: 'Marselis Pro';
  src: url('./fonts/MarselisPro/MarselisPro-Bold.ff31e170.woff2')
    format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans/OpenSans-Regular.b94ffe5a.woff2') format('woff2');
}
@font-face {
  font-family: 'Open Sans Semibold';
  src: url('./fonts/OpenSans/OpenSans-SemiBold.eab5ab4a.woff2') format('woff2');
}

@font-face {
  font-family: 'Marselis Pro';
  src: local('Marselis Pro Bold'), local('Marselis-Pro-Bold'),
    url('./fonts/MarselisPro/MarselisPro-Bold.woff2') format('woff2'),
    url('./fonts/MarselisPro/MarselisPro-Bold.woff') format('woff'),
    url('./fonts/MarselisPro/MarselisPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
